@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


html,body{
    font-family: 'Montserrat';
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    
}


/*make background image transparent*/

body::after {
    content: "";
    background: url(../images/background.JPG);
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    filter:blur(10px);
    background-repeat: repeat;
    
    
   
}

/*******Constant classes and Id's*/

/*nav*/

.navbar {
    display: flex;
    background-color: #456278;
    color: white;
    flex-direction: column;
  
}

.logo {
    font-size: 1.5rem;
    margin: .5rem; 
    text-align: left;
}

.links ul{
    margin: 0;
    padding: 0;
    display: flex;

}

.links li{
    list-style: none;
    flex-direction: column;
    width: 100%;

}

.links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.links li:hover{
    background-color: #385367;
    transition: 0.5s;
}

    /*menu button*/

.menu {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
}

.menu .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

    /*menu button interactive*/ 

.menubar .rotate {
    transform: rotate(180deg) ;
    transition: all 1.2s ease;
}

.links {
    display: none;
    
}

.navbar ul{
    flex-direction: column;
    width: 100%;

}

.navbar li {
    text-align: center;
}

    /*active navbar class*/

 .active{
    display:flex;
       
}




/*First section*/

#welcome-section {
    padding: 30px;
    text-align: center;
}

#welcome-section h1{
    color: #012A4A;
    font-size: 2em;
}

#welcome-section p{
    font-weight: bolder;
    font-size: 1.3em; 
}

#welcome-section p:hover{
    color:white;
    background-color: #385367;
    transition: 0.5s;
}

#welcome-section a {
    background-color: white;
    text-decoration: none;
    color: #012A4A;
}

#welcome-section a:hover {
    cursor: pointer;
    background-color: #012A4A;
    color: white;
    transition: 0.5s;
}

#PersonalPic{
    border-radius: 50%;
    height: 95px;
    width: 100px;
    border-color:#385367;
    border-style: ridge;
    border-width: 0.5px;
}

/*Second section*/

#gallery {
    text-align: center;
    padding: 10px;
    background-color: white;
    background-attachment: fixed;
    height: auto;
    
}

#gallery h1{
    display: block;
    text-align: center;
    color: #456278;
    font-size: 1.5em;

} 

#gallery h1:hover{
    transform: scale(1.1);
    transition: 1s;
}

#gallery p:hover{
    background-color: #385367;
    color:white;
    transition: 0.5s;
}

#paragraphs {
    text-align: center;
    padding: 10px;
    background-color: white;
    background-attachment: fixed;
    height: auto;
    margin-top: auto;
    
}

    /*images container -home page-*/
.container p{
    text-align: center;
    margin: auto;
    width: 100%;
    height: auto;
    display: block;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
}

.container img{
   
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
    margin: 10px;
    transition: 0.5s;
}

.container img:hover {
    transform: scale(1.1) ;
}

/*Footer*/

footer{
    background-color: #385367;
    
    margin: 0;
    padding: 0;
    margin-top: auto;
    
}

footer p{
    text-align: center;
    font-size: small;
    color: white;
   
  
}

footer a{
    background-color: white;
    font-weight: bold;
    font-size: 0.7em;
    padding: 0;
    text-decoration: none;
    color: #012A4A;
}

/*******Contact information page classes and Id's */

.contact{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10%;
    font-size: 1.3em;
    align-items: center;
    margin-top: auto;
   
    
}

.contact #adress{
    font-size: 1em;
}

.feedbackcontainer{
    display: flex;
    flex-direction: column;  
    
}

#feedbackcontainer {
    background-color: #385367;
    color: white; 
}


/*******Degree information page classes and Id's*/

.courses {
    text-align: left;
    list-style: circle;
    font-weight: bolder;
    
}

.courses p{
    font-weight: normal;
}

.courses li a{
    color:black;
    font-weight: 1000;
}

.courses figure img, figcaption{
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 50%;
    min-width: 100%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}


/*******Quiz page classes and Id's */

.questions img {
   
    max-width: 500px;
    max-height: 50%;
    border-radius: 1%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; 
}

#quizForm {
    background-color: white;
    color: #012A4A;
    margin: auto;
    
    border-style: solid;
    border-color: #385367;
    border-top: none;
    border-bottom: none;

}

#label{
    text-align: center;
}
.questions {
    
    font-size: 1.2em;
}


    /*target the questions*/

.questions :first-child{
    color: white;
    background-color: #385367
}

#done {
    text-align: center;
    margin-bottom: 1%;
    padding: 1%;
    
}

#done button{
    font-size: 1.5em;
    color: white;
    background-color:#012A4A;
}

#done button:hover{
    color: #012A4A;
    background-color:white;
    transition: 0.20s;
}


#result {
    text-align: center;
    font-size: 2em;
}

/*******Accessibility page classes and Id's */

#accessibility {
    text-shadow: 0 0 1px #012A4A;
    
}

#AccessStatement {
    text-align: left;
}

/*MEDIA QUERIES*/ 

@media (min-width: 767px) /*Desktop*/ {


    html,body{
        margin-right:0;
        margin-left:0;
        
        right: 0;
    }
    
    .menu{
        display: none;
    }

    .navbar {
        flex-direction: row;
        justify-content: center;
    }

   
    .navbar ul {
        
        flex-direction: row; 
       
    }


    .links {
        display: block;
        font-size: auto;
        
        
    }
    

    .contact{
        flex-direction: row;
        
    }

    .container{
        
        display: grid;
    }

    .courses figure img, figcaption{
        max-height: 50%;
        min-width: 50%;
    }


}

