
/*the table*/

table {
    justify-content: space-around;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
    text-align: center;
    text-shadow: 0px 0px 1px black;
}

th,td{
    border: 2px solid #012A4A;
    border-collapse: collapse;
}

th,td:hover{
    background-color:#012A4A;
    color: white;
    transition: 0.5s;
}

.row:hover{
    background-color: #012A4A;
    color: white;
    transition: 0.3s;
}


/*the canvas*/

#legend {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    left: 0;
    
}

#listing {
    width: 20px;
    list-style: none;
    
}

button {
    font-size: large;
}

button:hover{
    background-color: #012A4A;
    color: white;
    font-size: large;
    transition: 0.5s;
}


